extends layout

block content
  .container.first
    .row
      .col-lg-12
      h1(style="text-align:center;")= "Seite nicht gefunden"
      p(style="text-align:center;font-size:20px;")!= "Die Seite wurde leider nicht gefunden. <a href='/'>Zurück</a> zur Startseite."
      if error && error.stack != null
        h2= error.status
        pre= error.stack
