section#footer
  .container
    .row.informationLinks(style="margin-top: 50px;")
      .col-sm-4.col-sm-offset-4
        h5= "Verbesserungen, Vorschläge, Lob oder Kritik?"
        hr
        p!= "Schreib mir sehr gerne über <a href='mailto:moritz@develapp.me' style='text-decoration: underline !important;'>moritz@develapp.me</a> oder direkt über <a href='https://www.facebook.com/moritz.mojo.pfeiffer' target='_blank' style='text-decoration: underline !important;'>Facebook</a>!"
  .container
    .row
      .col-lg-12.text-center
        p!= "© " + year + " - Moritz Pfeiffer | Powered by <a href='http://develapp.me' target='_blank'>DevelApp</a> | <a href='http://develapp.me/impressum.html' target='_blank'>Impressum</a>"
