.container
  .row
    .col-lg-3.col-md-3.col-sm-3
      #logoHolder.logo
        a(href="/")
          img.faa-pulse.animated-hover(src="/img/bicycle.svg" alt="logo")
    .col-lg-9.col-md-9.col-sm-9
      nav.navbar
        ul#menu.nav
          li(class='menuitem')
            a(href="#rangliste" class='page-scroll')= "Rangliste"
          li(class='menuitem')
            a(href="https://www.leetchi.com/c/soziales-von-moritz-pfeiffer-und-rsv-oeschelbronn" target="_blank")= "Spenden"
          li(class='menuitem')
            a(href="https://github.com/Mojo90/rund-um-den-kirchturm-heroes" target="_blank")
              i.fa.fa-github
