head
  title= "Rund um den Kirchturm Heroes"
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='author', content="DevelApp by Moritz Pfeiffer")
  meta(name='title', content="Rund um den Kirchturm Heroes")
  meta(name='description', content="Wir bieten euch die Radamateurrangliste im Netz! Schaut gerne vorbei und informiert euch, wer der absolute Amateur Hero rund um den Kirchturm ist!")
  meta(property="og:site_name", content="Rund um den Kirchturm Heroes")
  meta(property="og:title", content="Rund um den Kirchturm Heroes")
  meta(property="og:description", content="Wir bieten euch die Radamateurrangliste im Netz! Schaut gerne vorbei und informiert euch, wer der absolute Amateur Hero rund um den Kirchturm ist!")
  meta(property="og:image", content="/img/cover.jpg")
  link(rel='stylesheet', href='/css/main.css')
