noscript
  .container.noscript
    .row
      .col-lg-12
        .noscriptHolder
          .top
            h2= "JavaScript wird benötigt"
          .line
          .bottom
            p(style="margin-top:0;")= "Für unsere Seite wird JavaScript benötigt, ansonsten kann die Rangliste nicht korrekt angezeigt werden. Falls du JavaScript nicht aktivieren kannst aber Informationen über die Amateur-Rangliste benötigst schreib uns bitte direkt eine Mail."
            .buttons
              p.social
                a.mail(href="mailto:moritz@develapp.me")
                  i.fa.fa-envelope-o
                a.facebook(href="https://www.facebook.com/moritz.mojo.pfeiffer", target='_blank')
                  i.fa.fa-facebook
                a.button(href="/" style="margin-right: 0; width:auto;")= "Seite neu laden"
